<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Permanent+Marker&family=Roboto:wght@300&family=Tilt+Prism&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/GameDetails.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <header class="header">
       
    <div class="logo">
        <img src="/logoWarpanpng.png" alt="error">
    </div>
    <input type="checkbox" id="menuBar">
    <label for="menuBar">≡</label>
  <nav class="nav">
    <ul class="NavLink">
        <li class="NavLink" id="home"> <a href="/">Home</a></li>
        <li class="NavLink" id="games"> <a href="/Games">Games</a></li>
        <li class="NavLink" id="studio"> <a href="#">Our Studio</a></li>
        <li class="NavLink" id="services"> <a href="#">Services</a></li>
        <li class="NavLink" id="contact"> <a href="/Contact">Contact</a></li>
    </ul>
  </nav>
  <!-- <button class="BuyButton">

    <span>Buy Now</span>

  </button> -->
   
</header>

<section class="img-section">
    <div class="img">
    <img src="https://e0.pxfuel.com/wallpapers/358/40/desktop-wallpaper-dark-background-dark-gaming.jpg" alt="">
</div>
</section>

<section class="content">

<div class="left">
  <div class="img-text"><%= game.title %></div>

    <p class="detail"><%= game.main_discription1 %></p><br>

    <p class="detail"><%= game.main_discription2 %></p><br>

      <h3 class="content-heading">Main Objective</h3> 

    <p class="detail"><%= game.objective %></p><br>

</div>

<div class="right">

    <div class="button text-align">
<button onclick="window.location.href = '<%= game.downloadLink %>'" class="download-button">Download</button>
</div>

<div class="relese-date text-align"><span class="right-name">Relese Date-</span> <br><br><span class="right-value"> <%= game.release_date %></span></div>

<div class="publisher text-align"><span class="right-name">Publisher </span><br><br><span class="right-value "> WarPan Games</span></div>

<div class="size text-align"><span class="right-name">Size</span><br><br><span class="right-value"><%= game.size %></span></div>

</div>

</section>

<footer class="footer">
  <div class="footer-bg">
    <div class = "footer-1">
              <div class="footer-1a">


                <div class="footer-content">

                <div>  <p class="footer-content-1up">Let's Get <span style="color: #8200ff;">Started</span></p>
                </div>

                <div><p class="footer-heading"><span style="color: #8200ff;  font-weight: bold; ">Warpan</span> Games
                  At our cutting-edge studio, we're not just game developers – we're architects of innovation. Armed with the latest technologies, we breathe life into captivating games that transcend entertainment.
                </p></div>

                <div style="padding: 10px;">
                <div class="footer-content-1u">
                    <div class="footer-content-l"><p style="font-size: 25px; font-weight: 600; color: white;">Email</p>
                    <p style="color: white;">warpangames@gmail.com <br>info.warpan@gmail.com</p></div>

                    <div class="footer-content-2"><p style="font-size: 25px; font-weight: 600; color: white;">Phone No.</p>
                    <p style="color: white;">+91 9460866337 <br>+91 9461855615</p></div>
                </div>

                <div class="footer-content-1u">
                    <div class="footer-content-l"><p style="font-size: 25px; font-weight: 600; color: white;">Address</p>
                      <p style="color: white;">Jaipur Road, Malpura <br> Rajasthan, 304502</p></div>


                  <div class="footer-content-2"><p style="font-size: 25px; font-weight: 600; color: white;">Office</p>
                    <p style="color: white;">Mon - Sat <br>9AM - 8PM </p></div>

                </div>
                </div>


                </div>

                <div class="footer-form">
                  <div class="footer-form-in">
                        <h1 style="color: white; text-align: center;padding: 10px; margin-top: 20px">Contact <span style="color: #8200ff;">Us</span></h1>
                          <form action="#" method="post" style="margin: 20px;">
                              <input class="textfield" type="text" id="name" placeholder="Name" name="name" required><br><br>
                          
                              <input class="textfield" type="email" id="email" placeholder="Email" name="email" required><br><br>
                          
                              <input class="textfield" type="tel" id="mobile" placeholder="Mobile No." name="mobile" ><br><br>
                          
                              <textarea class="textfield" id="message" name="message" placeholder="Message" rows="4" style="width: 90%; resize: none;"></textarea><br><br>
                          
                              <input type="submit" value="Send" style="color: white; background-color: #8200ff; border-radius: 5px; border: none; margin-left: 15%; padding-top: 8px; padding-bottom: 8px; padding-left: 70px; padding-right: 70px; font-size: 25px; box-shadow: 0px 5px 20px 0px rgb(22 22 22);">
                          </form>
                          </div>
                    </div>
                  </div>
          </div>

                  <div class="social-menu">
  <ul>
    <li><a href="https://www.facebook.com/profile.php?id=61552544006457" target=”_blank”><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://www.instagram.com/warpangames/" target=”_blank”><i class="fa fa-instagram"></i></a></li>
   
    <li><a href="https://www.linkedin.com/company/warpan-games/" target=”_blank”><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://www.youtube.com/@warpangames" target=”_blank”><i class="fa fa-youtube"></i></a></li>
</ul>
              </div>
              
              <div class="footer-bottom">
                <div  style=" display: flex; align-items: center;"><p class="footer-year">2008 Ⓒ</p></div>
                <div  style="right: 0; display: flex; align-items: center;"><a href="google.com" class="footer-privacy-policy">Privacy Policy</a></div>
            </div>
    </div>
    
</footer>


</body>
</html>