<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Permanent+Marker&family=Roboto:wght@300&family=Tilt+Prism&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/GameDetails.css">
</head>
<body>
    <header class="header">
       
        <div class="logo">
            <img src="/logoWarpanpng.png" alt="error">
        </div>
        <input type="checkbox" id="menuBar">
        <label for="menuBar"> ≡ </label>
      <nav class="nav">
        <ul class="NavLink">
            <li class="NavLink"> <a href="/">Home</a></li>
            <li class="NavLink"> <a href="/Games">Games</a></li>
            <li class="NavLink"> <a href="#">Our Studio</a></li>
            <li class="NavLink"> <a href="#">Services</a></li>
            <li class="NavLink"> <a href="/Contact">Contact</a></li>
        </ul>
      </nav>
      <!-- <button class="BuyButton">

        <span>Buy Now</span>

      </button> -->
       
    </header>
<section class="img-section">
    <div class="img">
    <img src="https://e0.pxfuel.com/wallpapers/358/40/desktop-wallpaper-dark-background-dark-gaming.jpg" alt="">
    <div class="img-text"><%= game.title %></div>
</div>
</section>

<section class="content">

<div class="left">
    <p class="detail"><%= game.main_discription1 %></p><br>

    <p class="detail"><%= game.main_discription2 %></p><br>

      <h3 class="content-heading">Main Objective</h3> 

    <p class="detail"><%= game.objective %></p><br>

</div>

<div class="right">

    <div class="button text-align">
<button class="download-button">Download</button>
</div>

<div class="relese-date text-align"><span class="right-name">Relese Date-</span> <br><br><span class="right-value"> <%= game.release_date %></span></div>

<div class="publisher text-align"><span class="right-name">Publisher </span><br><br><span class="right-value "> WarPan Games</span></div>

<div class="size text-align"><span class="right-name">Size</span><br><br><span class="right-value"><%= game.size %></span></div>

</div>

</section>

<footer class="footer">
    <div class="footer-container">
    <div class="footer-heading">Let`s Get Started</div>

<div class="upper">

<div class="about-company"><h3>Warpan Games</h3>
<p>At our cutting-edge studio, we're not just game developers – we're architects of innovation. Armed with the latest technologies, we breathe life into captivating games that transcend entertainment. But we don't stop there. We harness the power of gaming to drive business expansion, crafting software solutions that empower growth and transform industries. Our multidisciplinary approach merges creativity and technology, shaping immersive experiences and driving strategic success for our partners.</p>
</div>
<div class="form">
<div class="input-section">
<input type="email" class="input-field" placeholder="Your Email"/>
<button class="input-button">Subscribe</button>
</div>
</div>
</div>


<div class="contact">

<div class="office">
<div class="contact-heading">Office</div>
<div class="sub">AddressLine1</div>
<div class="sub">AddressLine2</div>

</div>
<div class="email">

<div class="contact-heading">Email Address</div>
<div class="sub">xyz@gmail.com</div>
<div class="sub">xyz@gmail.com</div></div>

<div class="phone">

<div class="contact-heading">Phone Number</div>
<div class="sub">123456789</div>
<div class="sub">987654321</div>

</div>
<div class="working-time">

<div class="contact-heading">Office</div>
<div class="sub">Mon-Fri 09:00 - 17:00</div>
<div class="sub">Sat-Sun Weekend</div>

</div>
</div>
<div class="social-icons">
<ul class="social-media-list">
<li class="fb"><a href="#" target="_blank" class="contact-icon">
 </a>
</li>
<li class="insta"><a href="#" target="_blank" class="contact-icon">
   </a>
</li>
<li class="twitter" ><a href="#" target="_blank" class="contact-icon">
 </a>
</li>
<li class="linkedIn"><a href="#" target="_blank" class="contact-icon">
  </a>
</li>       
</ul>
</div>

</div>

</footer>

</body>
</html>