<!DOCTYPE html>
<html lang="en">
  <link rel="icon" href="icon_logoWarpanpng.png" type="image/x-icon">
  <link rel="shortcut icon" href="icon_logoWarpanpng.png" type="image/x-icon">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warpan</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Permanent+Marker&family=Roboto:wght@300&family=Tilt+Prism&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
   
    </head>
<body>
  <header class="header">
       
    <div class="logo">
        <img src="/logoWarpanpng.png" alt="error">
    </div>
    <input type="checkbox" id="menuBar">
    <label for="menuBar">≡</label>
  <nav class="nav">
    <ul class="NavLink">
        <li class="NavLink" id="home"> <a href="/">Home</a></li>
        <li class="NavLink" id="games"> <a href="/Games">Games</a></li>
        <li class="NavLink" id="studio"> <a href="#">Our Studio</a></li>
        <li class="NavLink" id="services"> <a href="#">Services</a></li>
        <li class="NavLink" id="contact"> <a href="/Contact">Contact</a></li>
    </ul>
  </nav>
  <!-- <button class="BuyButton">

    <span>Buy Now</span>

  </button> -->
   
</header>


  <section class="container">
  
  <div class="slideshow-container">
    <div class="mySlides fade">
      <!--<div class="numbertext">1 / 3</div> -->
      <img src="https://drive.google.com/uc?export=download&id=1egeRX5jWlN4Xv7P-Rot6SFIEoz-BwKfM" >
      <!-- <div class="text">LATEST LOUNCHED</div> -->
    </div>
  
    <div class="mySlides fade">
      <img src="https://drive.google.com/uc?export=download&id=1QwNi98m2GzjJE26Bt-43yieyPitugd1g">
      <!-- <div class="text">LATEST LOUNCHED</div> -->
    </div>
  
    <div class="mySlides fade">
      <img src="https://drive.google.com/uc?export=download&id=1S3NNbmph7XbYDKzBS-iX9fjzsmGzXfSX" >
      <!-- <div class="text">LATEST LOUNCHED</div> -->
    </div>
  
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
  
  <div class="middle1">

    <div class="left1">

     <div class="text1"  >Welcome to <span style="color: #8200ff;">Warpan</span> Games</div>
     <div class="text2" >Transforming <span style="color: 8200ff;">Visions</span> into Virtual Realities</div>
      <div class="text3"  data-aos="zoom-in">We entertain billions of users with our games. Our mission to entertain the world goes beyond gaming. </div>
<div class="bottom">
  <div class="part1"  data-aos="zoom-in">
   <div class="sub1">50 M+</div>
   <div class="line1">Downloads, or 1% of World’s population</div>
  </div>
  <div class="part2"  data-aos="zoom-in">
    <div class="sub2">1 Lakh+</div>
   <div class="line2">Daily Active Users</div>
  </div>
  <div class="part3"  data-aos="zoom-in">
    <div class="sub3">16+</div>
   <div class="line3">Experts Collaborating at one place</div>
  </div>
  <div class="part4"  data-aos="zoom-in">
    <div class="sub4">24+</div>
   <div class="line4">Games Launched Till now</div>
  </div>
</div>

    </div>

    <div class="right1"  data-aos="zoom-in">
      <div class="right-box">
      <img src="/@1im3g.png" alt="">
</div>
</div>
</div>

<div class="middle2">

  <div class="middle2-text1">
      <h4>We Shape <span style="color: 8200ff;">Ideas</span> into Interactive Experiences</h4>
  </div>
  <div class="middle2-text2">
      <h3> We are a passionate team of game developers dedicated to turning your creative visions into captivating interactive experiences.</h3>
  </div>
  <div class="middle2-text3">
      <p> At our core, we're craftsmen of virtual realms, meticulously detailing each element to transform mere ideas into dynamic interactive experiences. We specialize in forging immersive narratives and captivating gameplay.</p>
  </div>
</div>
<div style="position: relative;">
  <div class="angled-rect"></div>
  <div class="angled-rect-l"></div>
  <div class="design1"></div>
  <div class="design2"></div>

<span class="Home-Catagory">Windows</span>
<div class="window-scroll">
  <div id="window"  class="game">
    
    <% for(let game of games1){ %>
      <% if (game) { %>
    <div class="game-container" data-aos="zoom-in">
      <div class="game-container1">
        <div class="game-container1-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" viewBox="0 0 40 50" fill="none">
            <path d="M40 0V50L20 40L0 50V0H40Z" fill="#00FF00"/>
          </svg>
          <p style="position: absolute; top: 30%; left:20%; font-size: 24; font-weight: 600;">4.7</p>

      </div>
        <div class="game-img">
          <img src=<%= game.img %> alt="">
        </div>
        <div class="game-container-sub">
          <svg xmlns="http://www.w3.org/2000/svg" width="301" height="257" viewBox="0 0 301 257" fill="none">
            <path class="pathc" d="M0 70.5L301 0.5V251.5C301 254.261 298.761 256.5 296 256.5H4.99999C2.23857 256.5 0 254.261 0 251.5V70.5Z" fill="#3B3E4B"/>
          </svg>
        </div>
      </div>
      <div class="game-small">
        <img src=<%= game.mini_gameCardImg %> alt="">
      </div>
      <div class="title"><%= game.title %></div>
      <div class="catagory"> <% game.catagory.forEach(function(element) { %>
        <span><%= element %></span>
      <% }); %></div>
      <span class="mini-discription"> <p><%= game.mini_discription %> </p><li><a href="/<%= game._id %>">more...</a></li> </span>
      <button class="view-button" onclick="window.location.href='/<%= game._id %>'">View</button>
    </div>
    <% } %>
    <% } %>
    <div class="more" id="mylink1"><a href="#" target=”_blank”><i class="fa fa-angle-right"></i></a></div>
    
  </div>

</div>


  <span class="Home-Catagory">Android</span>
  <div class="android-scroll">
  <div id="android"  class="game">
    
    <% for(let game of games2){ %>
      <% if (game) { %>
    <div class="game-container" data-aos="zoom-in">
      <div class="game-container1">
        <div class="game-container1-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" viewBox="0 0 40 50" fill="none">
          <path d="M40 0V50L20 40L0 50V0H40Z" fill="#00FF00"/>
        </svg>
        <p style="position: absolute; top: 10%; left:20%;">4.7</p>

      </div>
        <div class="game-img">
          <img src=<%= game.img %> alt="">
        </div>
        <div class="game-container-sub">
          <svg xmlns="http://www.w3.org/2000/svg" width="301" height="257" viewBox="0 0 301 257" fill="none">
            <path class="pathc" d="M0 70.5L301 0.5V251.5C301 254.261 298.761 256.5 296 256.5H4.99999C2.23857 256.5 0 254.261 0 251.5V70.5Z" fill="#3B3E4B"/>
          </svg>
        </div>
      </div>
      <div class="game-small">
        <img src=<%= game.mini_gameCardImg %> alt="">
      </div>
      <div class="title"><%= game.title %></div>
      <div class="catagory">FPG PlatFormer Adventure</div>
      <div class="mini-discription"> <p><%= game.mini_discription %> </p><li><a href="/<%= game._id %>">more...</a></li> </div>
      <button class="view-button" onclick="window.location.href='/<%= game._id %>'">View</button>
    </div>
    <% } %>
    <% } %>
    <div class="more" id="mylink2"><a href="#" target=”_blank”><i class="fa fa-angle-right"></i></a></div>

  </div>
</div>

  <span class="Home-Catagory">IOS</span>
  <div class="ios-scroll">
  <div id="IOS"  class="game">
    
    <% for(let game of games3){ %>
      <% if (game) { %>
    <div class="game-container" data-aos="zoom-in">
      <div class="game-container1">
        <div class="game-container1-rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" viewBox="0 0 40 50" fill="none">
          <path d="M40 0V50L20 40L0 50V0H40Z" fill="#00FF00"/>
        </svg>
        <p style="position: absolute; top: 10%; left:20%;">4.7</p>

      </div>
        <div class="game-img">
          <img src=<%= game.img %> alt="">
        </div>
        <div class="game-container-sub">
          <svg xmlns="http://www.w3.org/2000/svg" width="301" height="257" viewBox="0 0 301 257" fill="none">
            <path class="pathc" d="M0 70.5L301 0.5V251.5C301 254.261 298.761 256.5 296 256.5H4.99999C2.23857 256.5 0 254.261 0 251.5V70.5Z" fill="#3B3E4B"/>
          </svg>
        </div>
      </div>
    
      <div class="game-small">
        <img src=<%= game.mini_gameCardImg %> alt="">
      </div>
      <div class="title"><%= game.title %></div>
      <div class="catagory">FPG PlatFormer Adventure</div>

      <span class="mini-discription"> <p><%= game.mini_discription %> </p><li><a href='/<%= game._id %>'>more...</a></li> </span>

      <span class="mini-discription"> <p><%= game.mini_discription %> </p><li><a href="/<%= game._id %>">more...</a></li> </span>

      <button class="view-button" onclick="window.location.href='/<%= game._id %>'">View</button>
    </div>
    <% } %>
    <% } %>
    <div class="more" id="mylink3"><a href="#" target=”_blank”><i class="fa fa-angle-right"></i></a></div>

  </div>
</div>
</div>

<div class="middle3">
  <div class="design3"></div>
  <div class="design4"></div>
  <div class="design5"></div>

  <div class="middle2-text1" style="position: relative;">
      <h4>Unleashing <span style="color: 8200ff;">Dreams</span> through Expert Hands</h4>
  </div>
  <div class="middle2-text2" style="position: relative;">
     <h3>Passion Fuels Our Craft, Expertise Unites Our Team: We Create Gaming Wonders Together.</h3>
  </div>
  <div class="middle2-text3" style="position: relative;">
      <p>At our studio, we're more than a team – we're a tightly-knit family of creators. Through seamless collaboration, our diverse talents converge to craft extraordinary games. Each member weaves their expertise into the tapestry of our projects, breathing life into immersive worlds that captivate players worldwide.</p>
  </div>

  <div class="profile-container">
    <div class="profile-box">
  
      <div class="profile-img">
          <img src="/CEO.png" alt="not found">
      </div>
      <div class="devloper-name"><h3>Narendra Rathore</h3></div>
      <div class="position">Lead Developer</div>
      <div class="social-icon">
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-envelope"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
      </div>
          </div>
          <div class="profile-box">
  
            <div class="profile-img">
                <img src="/CTO.png" alt="">
            </div>
            <div class="devloper-name"><h3>Ankit Yadav</h3></div>
            <div class="position">Unity Developer</div>
            <div class="social-icon">
                <ul>
                  <li><a href=""><i class="fa fa-facebook"></i></a></li>
                  <li><a href=""><i class="fa fa-instagram"></i></a></li>
                  <li><a href=""><i class="fa fa-envelope"></i></a></li>
                  <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
                </div>
  
                <div class="profile-box">
  
                  <div class="profile-img">
                      <img src="/Manager.png" alt="">
                  </div>
                  <div class="devloper-name"><h3>Lokesh Kumar</h3></div>
                  <div class="position">Manager</div>
                  <div class="social-icon">
                      <ul>
                          <li><a href=""><i class="fa fa-facebook"></i></a></li>
                          <li><a href=""><i class="fa fa-instagram"></i></a></li>
                          <li><a href=""><i class="fa fa-envelope"></i></a></li>
                          <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                  </div>
                </div>
  
  </div>
</div>


</section>


<footer class="footer">
  <div class="footer-bg">
    <div class = "footer-1">
              <div class="footer-1a">


                <div class="footer-content">

                <div>  <p class="footer-content-1up">Let's Get <span style="color: #8200ff;">Started</span></p>
                </div>

                <div><p class="footer-heading"><span style="color: #8200ff;  font-weight: bold; ">Warpan</span> Games
                  At our cutting-edge studio, we're not just game developers – we're architects of innovation. Armed with the latest technologies, we breathe life into captivating games that transcend entertainment.
                </p></div>

                <div style="padding: 10px;">
                <div class="footer-content-1u">
                    <div class="footer-content-l"><p style="font-size: 25px; font-weight: 600; color: white;">Email</p>
                    <p style="color: white;">warpangames@gmail.com <br>info.warpan@gmail.com</p></div>

                    <div class="footer-content-2"><p style="font-size: 25px; font-weight: 600; color: white;">Phone No.</p>
                    <p style="color: white;">+91 9460866337 <br>+91 9461855615</p></div>
                </div>

                <div class="footer-content-1u">
                    <div class="footer-content-l"><p style="font-size: 25px; font-weight: 600; color: white;">Address</p>
                      <p style="color: white;">Jaipur Road, Malpura <br> Rajasthan, 304502</p></div>


                  <div class="footer-content-2"><p style="font-size: 25px; font-weight: 600; color: white;">Office</p>
                    <p style="color: white;">Mon - Sat <br>9AM - 8PM </p></div>

                </div>
                </div>


                </div>

                <div class="footer-form">
                  <div class="footer-form-in">
                        <h1 style="color: white; text-align: center;padding: 10px; margin-top: 20px">Contact <span style="color: #8200ff;">Us</span></h1>
                          <form action="#" method="post" style="margin: 20px;">
                              <input class="textfield" type="text" id="name" placeholder="Name" name="name" required><br><br>
                          
                              <input class="textfield" type="email" id="email" placeholder="Email" name="email" required><br><br>
                          
                              <input class="textfield" type="tel" id="mobile" placeholder="Mobile No." name="mobile" ><br><br>
                          
                              <textarea class="textfield" id="message" name="message" placeholder="Message" rows="4" style="width: 90%; resize: none;"></textarea><br><br>
                          
                              <input type="submit" value="Send" style="color: white; background-color: #8200ff; border-radius: 5px; border: none; margin-left: 15%; padding-top: 8px; padding-bottom: 8px; padding-left: 70px; padding-right: 70px; font-size: 25px; box-shadow: 0px 5px 20px 0px rgb(22 22 22);">
                          </form>
                          </div>
                    </div>
                  </div>
          </div>

                  <div class="social-menu">
  <ul>
    <li><a href="https://www.facebook.com/profile.php?id=61552544006457" target=”_blank”><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://www.instagram.com/warpangames/" target=”_blank”><i class="fa fa-instagram"></i></a></li>
   
    <li><a href="https://www.linkedin.com/company/warpan-games/" target=”_blank”><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://www.youtube.com/@warpangames" target=”_blank”><i class="fa fa-youtube"></i></a></li>
</ul>
              </div>
              
              <div class="footer-bottom">
                <div  style=" display: flex; align-items: center;"><p class="footer-year">2008 Ⓒ</p></div>
                <div  style="right: 0; display: flex; align-items: center;"><a href="google.com" class="footer-privacy-policy">Privacy Policy</a></div>
            </div>
    </div>
    
</footer>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="home.js"></script>


</body>
</html>
